<!DOCTYPE html>
<html>
<head>
  <title><%= title content_for(:title) %></title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="lightbox">
    <div id="lightbox-header"><%= image_tag "lightbox-close.png" %></div>
    <div id="lightbox-content"></div>
  </div>

  <div id="bar">
    News, Events, Notices
  </div>
  <div id="slide-down">
    <div id="postings">
      <%= render :partial => "postings/three_column", :locals => { :news => @news, :events => @events, :team_notices => @team_notices } %>
    </div>
  </div>

  <div id="container">
    <div id="main-container">
      <div id="sidebar">
        <div id="non-twitter">
          <%= render :partial => "menus/menu" %>
          <%= render :partial => "ads/rotating" %>
        </div>
        <%= render :partial => "menus/twitter" %>
      </div>

      <div id="content">
        <div id="header">
          <h2><%= content_for :title %></h2>
          <h3><%= Robotics::Application.config.page_subheading %></h3>
        </div>
        <div id="page-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <div id="feedback-button">
    <span><%= link_to "Feedback", query(:feedback => true), :id => "feedback-anchor" %></span>
  </div>

  <div id="feedback-form" <%= params[:feedback] == "true" ? "" : "class='hidden'" %>>
    <%= render :partial => "feedback/new" %>
  </div>

</body>
</html>
